@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekan;
    src: url('../../public/assets/fonts/YekanBakhFaNum-Regular.woff');
}

.whiteIcon {
    filter: invert(100%);
 }